<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/estilo.css">
    
    <title>Usando NodeJS no back-end</title>
</head>
<body class="corpo">
    <header class="cabecalho">
        <img src="/IMG/logo.png" alt="logo">
        <h1>Crude com NodeJS</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="inserir">Inserir</a>
        <a href="select">Listar</a>
        <a href="sobre">Sobre</a>   
      
    </nav>
    
    
   {{{body}}}



   <script src="/JS/javascript.js"></script>
</body>
</html>
