<h1 id="titulo">Inserindo um novo usuário</h1>

<form name="form1" action="controlleradd" method="POST">
    <label>CPF:</label>
    <input type="number" name="cpf" id="cpf"><br><br>
    <label>Nome: </label>
    <input type="text" name="nome" id="nome"><br><br>
    <label>Email: </label>
    <input type="text" name="email" id="email"><br><br>
    <input type="submit" value="Inserir"><br>

</form>
