

<h1>Alterando dados do usuário</h1>

<form name="form2" action="/controllerupdate" method="POST">
    <label>CPF:</label>
    <input type="hidden" name="cpf" id="cpf" value="{{cpf}}"><br><br>
    <label>Nome: </label>
    <input type="text" name="nome" id="nome" value="{{nome}}"><br><br>
    <label>Email: </label>
    <input type="text" name="email" id="email" value="{{email}}"><br><br>
    <input type="submit" value="Alterar"><br>



</form>
